@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Gaegu&display=swap');

* {
    font-family: "Catamaran", sans-serif;
    font-weight: 300;
}

body {
    background-color: rgb(255, 249, 241);

    display: grid;
    grid-template-rows: 1fr 2fr .5fr;
    height: 100dvh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 2rem 0 3rem 4rem;

    max-height: min-content;
}

h1 {
    margin: 0;
    font-size: 6rem;
}

button {
    border: none;
    padding: .7rem 1rem;
    border-radius: .5rem;

    font-weight: 400;
    background-color: rgb(255, 200, 132);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(255, 190, 110);
}

/* Footer */
footer {
    text-align: center;
    align-self: flex-end;
    margin-top: 1rem;
}

footer p {
    margin: 20px 0;
    font-size: 1.4em;
}

footer a {
    text-decoration: none;
    color: var(--dark);
}

footer a:hover {
    text-decoration: underline;
}

/* Book Cards */
#library-container {
    width: max(70%);
    height: fit-content;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    gap: 2rem;
}

#library-container > div {
    text-align: center;
    max-height: fit-content;

    display: flex;
    flex-direction: column;

    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-transform: capitalize;
    background-color: white;
}

#library-container > div > div:first-of-type {
    font-size: 1.5rem;
}

#library-container > div > button:first-of-type {
    margin: 1rem 0;
}

@media screen and (max-width: 600px) {
    header {
        margin: 2rem 0;
        align-items: center;
    }

    h1 {
        font-size: 4.5rem;
    }
}